@font-face {
  font-family: "Carrito";
  src: url("./Icons/Carrito.svg") format("svg");
}
@font-face {
  font-family: "Chat";
  src: url("./Icons/Chat.svg");
}
@font-face {
  font-family: "Home";
  src: url("./Icons/Home.svg");
}
@font-face {
  font-family: "Profile";
  src: url("./Icons/Profile.svg");
}
@font-face {
  font-family: "Store";
  src: url("./Icons/Store.svg");
}
