@import "./variables.scss";
.LondonStories {
  min-width: 290px;
  width: 95%;
  height: 170px;
}
.LondonStories__container-title {
  width: 100%;
  height: 60px;
  padding-left: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.LondonStories__title {
  font-family: $font-700;
  font-size: $size-titulo;
}
.LondonStories__stories-container {
  margin-top: 10px;
  margin-left: 15px;
  width: 100%;
  height: 100px;
  display: flex;
  overflow-x: scroll;
}
.LondonStories__stories-item {
  display: flex;
  margin-right: 5px;
  flex-direction: column;
  align-items: center;
  .LondonStore__item--borde {
    background: linear-gradient(94.9deg, #ed9bd6 4.92%, #8987ff 105.16%);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
  }
}
.LondonStore__item--add-icon {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background: linear-gradient(94.9deg, #ed9bd6 4.92%, #8987ff 105.16%);
  position: relative;
  img {
    background-color: $color-white-base;
    position: absolute;
    padding: 2px;
    border-radius: 50%;
    top: 0;
    right: 0;
    box-shadow: $shadow-standard;
  }
}
