@import "./variables.scss";

.MobileNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: $color-white-base;
}
.Mobile__barra {
  height: 4px;
  width: 100%;
  background-color: $color-denimblue-blue5;
}
.MobileNav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-steal-gray;
}
.MobileNav__home {
  @extend .MobileNav__item;
  span {
    margin-top: 10px;
    background-image: url("./Icons/Home.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
  }
}
.MobileNav__store {
  @extend .MobileNav__item;
  span {
    margin-top: 10px;
    background-image: url("./Icons/Store.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
  }
}
.MobileNav__chat {
  @extend .MobileNav__item;
  span {
    margin-top: 10px;
    background-image: url("./Icons/Chat.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
  }
}
.MobileNav__profile {
  @extend .MobileNav__item;
  span {
    margin-top: 10px;
    background-image: url("./Icons/Profile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
  }
}
.MobileNav__carrito {
  @extend .MobileNav__item;
  span {
    margin-top: 10px;
    background-image: url("./Icons/Carrito.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
  }
}
