@import "./variables.scss";

.News {
  width: 100%;
}
.New {
  width: 100%;
}
.New__header {
  margin: 5px;
  margin-left: 10vw;
  width: 80%;
  display: flex;
  h3 {
    font-size: 1.4rem;
    margin: 5px;
  }
  p {
    padding-left: 5px;
    color: $color-vulcan-4;
  }
  img {
    margin: 5px;
    width: 36px;
    height: 36px;
  }
}
.New__body {
  width: 100%;
  margin: 0 auto;
  .New__picture {
    display: flex;
    justify-content: center;
    img {
      width: 80%;
      height: 80vw;
      border-radius: 20px;
      margin: 0 auto;
    }
  }
  .New__interactions {
    display: grid;
    grid-template-columns: 30% 30%;
    margin-left: 10vw;
    .love {
      display: flex;
      align-items: center;
      color: $color-steal-gray;
    }
    .comment {
      display: flex;
      align-items: center;
      color: $color-steal-gray;
    }
  }
}
