@import "./variables.scss";

.OfferPage {
  background: linear-gradient(
      349.34deg,
      #dcd7e7 43.08%,
      rgba(255, 255, 255, 0) 81.09%
    ),
    linear-gradient(
      49.66deg,
      #000000 40.62%,
      #47b1de 55.22%,
      #a3b7c0 57.75%,
      #75b4cf 57.75%
    );
  width: 100%;
  height: 100vh;
}
.OfferPage__nav--comeback {
  width: 100%;
  height: 70px;
  background-color: $color-white-base;
  display: flex;
  align-items: center;
  .OfferPage__icon--comeback {
    margin: 0 10px;
  }
  .OfferPage__icon--brand {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 5px;
  }
  .OfferPage__title--brand {
    font-size: $font-600;
    font-size: 1.7rem;
  }
}

.OfferPage__producto--main-container {
  display: flex;
  align-items: center;
}
.OfferPage__container--all-products {
  width: 100%;
  display: grid;
  grid-auto-columns: 100vw;
  grid-auto-flow: column;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
