@import "./variables.scss";
.StoreMen__header {
  background: linear-gradient(
      102.86deg,
      #000000 20.03%,
      rgba(255, 255, 255, 0) 86.64%
    ),
    linear-gradient(94.14deg, #9a3b3b 49.86%, #47b1de 83.64%, #a3b7c0 92.04%);

  color: $color-white-base;
  height: 155px;
  display: flex;
  flex-direction: column;
  .StoreMen__title--london {
    padding: 10px;
    padding-left: 15px;
    font-size: 2.4rem;
    font-family: $font-700;
  }
}
