@import "./fonts.scss";

// fonts
// --------------------------------------------
$font-100: "Inter-100";
$font-200: "Inter-200";
$font-300: "Inter-300";
$font-400: "Inter-400";
$font-500: "Inter-500";
$font-600: "Inter-600";
$font-700: "Inter-700";
// fonts
// --------------------------------------------
