@import "./fonts.scss";
@import "./icons.scss";
// fonts
// --------------------------------------------
$font-100: "Inter-100";
$font-200: "Inter-200";
$font-300: "Inter-300";
$font-400: "Inter-400";
$font-500: "Inter-500";
$font-600: "Inter-600";
$font-700: "Inter-700";
// fonts
// --------------------------------------------
//icons
//--------------------------------------------
$icon-carrito: "Carrito";
$icon-chat: "Chat";
$icon-home: "Home";
$icon-profile: "Profile";
$icon-stored: "Stored";
//icons
//--------------------------------------------
//colors
// --------------------------------------------------
$color-white-base: #ffffff;
$color-denimblue-blue5: #4685cb;
$color-steal-gray: #99a2ad;
$color-base-lightGrey: #f5f5f5;
$color-grey-800: #4f4f4f;
$color-gris-sg1: #eceef1;
$color-vulcan-5: #31333f;
$color-vulcan-4: #424454;
$color-vulcan-2: #7a7c8b;
$color-oliva-6: #446923;
$color-gray-3: #828282;
$color-oliva-4: #81a95d;
$color-base-black: #000000;

//colors
// --------------------------------------------------
//font-size:
// --------------------------------------------------
$size-titulo: 2.4rem;
//font-size
// --------------------------------------------------
//shadow
// --------------------------------------------------
$shadow-standard: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

//font-size
// --------------------------------------------------
